.title-list {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .poster-item {
      max-width: 24%;
      flex: 0 0 24%;
      justify-content: center;
      cursor: pointer;
      margin: 5px;
      overflow: hidden;
      position: relative;
          .btn-delete{
            position: absolute;
            display:block;
            right: 5px;
            width: 30px;
            height: 30px;
            top: 5px;
            padding: 2px;
            color:#ffff;
            background-color: rgb(75, 75, 75);
            border-radius: 50%;
            z-index: 5;
            &:hover{
              background-color: rgb(192, 0, 0);
            }
        }
      .poster-img{
        
        img {
          border-radius: 5px;
          width: 100%;
          display:block;
          transition: all .5s ease;
          &:hover{
            transform: scale(1.2);
          }
        }
        p{
          display:block;
          overflow: hidden;
           max-height: 360px;
        }
      }
      .poster-name {
        height: 30px;
        color: #ccc;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        margin-bottom: 20px;
      }
      &:hover .poster-name{
        color: rgb(209, 0, 0);
        text-shadow: 0px 2px 2px rgb(92, 92, 92) ;
      }
      .poster-img{
        position: relative;

          

      }
    }

  }
}
@media only screen and (max-width: 1024px) {
  .title-list {
    ul {
      .poster-item {
        max-width: 48%;
        flex: 0 0 48%;
      }
    }
  }
}
